## BASICS_OF_PYTHON required for Machine learning and Data Science
#### Created by- Pratik B Kulkarni

#### This notebook contains following topics
#### 1)What is Programming Languge?Why we need programming?
#### 2)What is Python language?Features of Python language.
#### 3)Variables,Keywords,Identifiers,Identation in Python
#### 4)Operators in Python
#### 5)Data Types in Python-Numeric,String,Tuple,List,Dictionary,Set and its methods
#### 6)Type Casting in Python
#### 7)Control statements- if,if else,if elif else
#### 8)Loops- for,loops and for else,while else
#### 9)Statements in Python-break,continue,pass
#### 10)Functions and its examples.
#### 11)Lambda,map,reduce functions with its examples

#### What is programming langauge?
#### As a human being uses different types of languages in order to send a message to another human being.In the same way machine or computer only understands a binary language.So we need a programming langauge in order to transmit message to  machine.Python such type a language which can send message from human being to machine in order to train a machine,by use of programming language we can easily comminicate with machine.

#### Python language and its features
#### Python is General purpose,dynamic,highlevel and interpreted programming language.It supports oops to develop applications.
#### It is very simple and easy to easy
#### <---features of python--->
#### 1)Easy to learn and read                           &Standard libraries
#### 2)Shorter codes                                         &Procedural programming
#### 3)Easy tranferable                                     &Functinal programming
#### 4)object oriented                                       &Exception handling - error handling

#### Applications of Python
#### ->web developement- GUI,TKINTER
#### ->web applications-Djando,flask
#### ->AI based,ML based,Database,Networking etc

### Print function
#### syntax: print(value.,..,..,..., sep=" ",end="\n",file=sys.stdout,flush=False)

In [24]:
x=10
y=22
z=44
print(x,y,z,sep="*",end="*",flush=False)
print("Machine learning",end="*")

10*22*44*Machine learning*

### Variable-It is used to store any type of data.ex.integer,string,float,tuple,list,dictionary

In [ ]:
#assiqgning a variable
x=8
y=9
print(x)
name="Pratik"
print(name)
#addition
a=87
b=45
c=a+b
#printing result
print(c)

### Assigning values to multiple variable

In [26]:
a,b,c=33,20,90
print(a,b,c)
f,s,m="Pratik","Bhalchandra","Kulkarni"
print(f,s,m)

33 20 90
Pratik Bhalchandra Kulkarni

### Single value to multiple varibles

In [27]:
a=12
b=12
c=12
print(a+b+c)
#or
a=b=c=12
print(a+b+c)

36
36

### Type function - It is used to get data type of a data.

In [28]:
x=90
y=98.4
x="Pratik"
print(type(x))
print(type(y))
print(type(z))
L=[33,2,12,44]
print(type(L))
T=(7,4,2,3)
print(type(T))
D={}
print(type(D))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### Comments

In [29]:
#this is a comment
#as we give # line at start then colour of line changes
s=9
i=90
c=s+i
print(c) #adition of two nos

99

In [30]:
# this is not a comment it is a Doc-string but can be treated as a comment
'''lllll
'''

'lllll\n'

### KEYWRODS - reserved words in python that are already to known to python

In [31]:
help("keywords")
import keyword
keyword.kwlist
x=keyword.kwlist
print(x)
len(x)

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

### to check KEYWORDS are valid or not

In [32]:
import keyword
a=keyword.iskeyword("class")
print(a)
b=keyword.iskeyword("Pratik")
print(b)

True
False

### IDENTIFIERS -This words are not known to python.This are user defined words

In [33]:
x=20
y=30
print(x+y)
#in order to understand inside x 10 is stored we defined it as x=10 without we cannot understand 20
name="Pratik"
print(name)
#by observing a data i.e Pratik we cannot understand what is that? so we defined as a name
import numpy as np
df=np.array([3,4])
print(df)
#from above example we get to know that there is a dataframe

50
Pratik
[3 4]

###  to Check IDENTIFIER is valid or not?

In [34]:
### CHECK indentifier or not
a="name".isidentifier()
print(a)
b="0ol".isidentifier()
print(b)
v="$u".isidentifier()
print(v)

True
False
False

### INDENTATION - Python does not use ({}) to indicate blocks of class and function definations or flow control. Blocks of code in Python are denoted by identation

In [35]:
#JUST testing a indentation in python
print("Program started..")
print("Second line..")
print("Third line..")
a=5
b=6
if (a<b):
    print("6 is greater")
else:
    print("No")
#here indentation is mentained by python when we "enter" is

Program started..
Second line..
Third line..
6 is greater

### Data type - 
#### Data type represents type of value hold by variables.
#### if a=4 that means assume that container whose name is a  in that 4 is stored .
#### You need not to declare explicitely it,while creating python understands automatically

In [36]:
#basic arithmatic operators
a=1+1 #add
print(a)
b=9-0 #sub
print(b)

c=8*9 #mul
print(c)
d=9*0 #mul
print(d)
e=9/1 #exact ans without round off
print(e)

f=9//2 #without  a float with round off
print(f)
u=10%2  #finds a remainder
print(u)
z=9**2  #power
print(z)

2
9
72
0
9.0
4
0
81

### NUMERICAL DATA TYPES-integer(int),float(float),complex no.(real+imaginary)
#### 1)integer- from +infinity to -infinity without a decimal point
#### 2)float-from +infinity to - infinity with a decimal point without whole no.
#### 3)complex no.-which contains real and imaginary part (x+jY) x=real,y=imaginary

In [37]:
#using type to get datatype
x=67
print(type(x))
y=9.6
print(type(y))
z=9+8j
print(type(z))

x,y=20,10
print(x+y)
print(x*y)
print(x-y)
print(x/y)

#same can be done in complex
d=8+8j
f=3+4J
print(d+f)
print(d*f)
print(d-f)
print(d/f)

#real and imaginary
s=f+d
print(s.real)
print(s.imag)

<class 'int'>
<class 'float'>
<class 'complex'>
30
200
10
2.0
(11+12j)
(-8+56j)
(5+4j)
(2.24-0.32j)
11.0
12.0

### STRING DATA TYPE :
#### 1) A sequence of characters placed with in single,double or triple quotes is a String.
#### 2)Strings are immutable

In [38]:
x=4
print(type(x))
y=4.4
print(type(y))

#in case of srings
g="4"
print(type(g))
j="4.4"
print(type(j))

#immutability
x="py"
print(x)
#x[0]=3 #it cannot be modified in string shows error

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
py

###  INDEXING AND SLICING OPERATOR
#### Slice operator = [start:end:steps] , can be used for string,list etc. With help of it we can easily find first,last or any value in string,list or data frame etc.

In [39]:
#it is based on index of no. index always starts from 0
x="ABCDEFG"
print(type(x))
print(len(x)) #here with help of len we can get no of elements which start from 1
print(x[1])   #getting 2nd index i.e first element of x
print(x[0:5]) #using a end to get first 5 values
print(x[0:5:2]) #getting values in steps of 2

#start index
print(x[4:])  #it will auto consider last value as end of slice operator
print(x[:5])  #it will auto consider 0th value as a start value

<class 'str'>
7
B
ABCDE
ACE
EFG
ABCDE

### NEGATIVE INDEXING - [start:stop:step]

In [40]:
name="Pratik"
print(name)
print(name[5])  #+ve index
print(name[-1]) #-ve index
print(name[-4])

#reversing a string
print(name[-1:-7])  #no output
print(name[-1:-7:-1]) #we have to reverse string so -1 steps
print(name[-1::-1])  #also for reverse

#whole string revrsing
hi="mY NAME is Pratik"
print(hi[-1::-1])

Pratik
k
k
a

kitarP
kitarP
kitarP si EMAN Ym

### Some important methods of string

In [41]:
x="Rohit"
y="Pratik"
#getting all values in lower case
print(x.lower())
print(y.lower())

#getting all values in upper case 
print(x.upper())
print(y.upper())

#Output in form of Title-->1st letter Upper case
X="I like Python language"
Y="python is very easy to understand"
print(X.title())
print(Y.title())

#to check starts with or not
print(X.startswith("I"))
print(Y.startswith("LK"))

#to check ends with or not 
print(X.endswith("e"))
print(Y.endswith("understand"))

#format method 
x=33
y=29
sum=x+y
#our expected output is sum of x and y is 62
print("Sum of {} and {} is {}".format(x,y,sum))

rohit
pratik
ROHIT
PRATIK
I Like Python Language
Python Is Very Easy To Understand
True
False
True
True
Sum of 33 and 29 is 62

### Some more important methods in string

In [42]:
#swapcase-to change from upper case to lower case or lower to upper case
str="My name is Pratik is a"
print(str.swapcase())

#count-to count no of observations 
print(str.count("is"))

#find-returns lowest index where particular word is present
print(str.find("is"))

#index-returns a lowest index where substring is found
print(str.index("a"))
print(str.index("i"))

#rindex-returns a considering reverse values,same as index method
print(str.rindex("M")) 

#join - in order to two separate a string by using particular character
print(("*").join(str))
print(("#").join(str))

#split- in order to separate a string 
words=str.split(" ")
print(type(words))
print(words)

#for documentation of whole string ->help("str")

mY NAME IS pRATIK IS A
2
8
4
8
0
M*y* *n*a*m*e* *i*s* *P*r*a*t*i*k* *i*s* *a
M#y# #n#a#m#e# #i#s# #P#r#a#t#i#k# #i#s# #a
<class 'list'>
['My', 'name', 'is', 'Pratik', 'is', 'a']

In [43]:
x="aabccy"
a=x.count("a")
b=x.count("b")
c=x.count("c")
y=x.count("y")
ans=print(" a:{} b:{} c:{} y:{}".format(a,b,c,y))
i="This is my book"
p=i[0:4]
j=i[5:7]
k=i[8:10]
l=i[11:15]
p=print(p[-1::-1])
j=print(j[-1::-1])
k=print(k[-1::-1])
l=print(l[-1::-1])
f=print("{} {} {} {}".format(p,j,k,l))
print(f)

 a:2 b:1 c:2 y:1
sihT
si
ym
koob
None None None None
None

### LIST- Indexed collection of item in sequential manner.have properties mutable,duplicate and can contain all data types.

In [59]:
# functions
# slicing operator -[start:stop:step]
List1=[11,21,32,24,35]
print(len(List1))  #getting length of a list
print(max(List1))  #maximum no of list
print(min(List1))  #minimum no. of a list
print(List1[1::])

List2=[22,4,5,33,7]   #it returns ascii code of a aphabet
print(max(List2))

#concat            #joins two lists
List3=List1+List2
print(List3)

#repeat           #repeats a list
print(List3*2)

#retrive single element from list
for i in List3:
    print(i)

#membership operator - in and not in
print(32 in List3)
print(43 not in List3)

5
35
11
[21, 32, 24, 35]
33
[11, 21, 32, 24, 35, 22, 4, 5, 33, 7]
[11, 21, 32, 24, 35, 22, 4, 5, 33, 7, 11, 21, 32, 24, 35, 22, 4, 5, 33, 7]
11
21
32
24
35
22
4
5
33
7
True
True

### Important methos in list

In [45]:
#append - to add item in list i.e in last position
l=[3,2,5,6,9,1]
l.append(44)
print(l)

#count - counts no of elements in list
print(l.count(1))
print(l.count(3))

#index 
print(l.index(9))

#clear
print(l.clear())

l.append(9)     #takes only one argument in parenthesis
l.append(3)
print(l)

#insert  - can add element at position that we wish to be
l.insert(1,10)
print(l)

#remove - can remove any element in in list
l.remove(10)
print(l)

#pop - removes last element in list
print(l)
l.pop()
print(l)

#sort-sorts all list in ascending order
l.append(8)
l.append(7)
print(l)
l.sort()
print(l)

#reverse- sorts all list in descending order 
l.reverse()
print(l)

#copies address of object but not all data
o=l
print(l)
l.pop()
print(l)
print(o)      #same change in both lists

#copy - it not copies address but create a separate list
p=l.copy()
l.clear()
print(l)
print(p)        #here changes are different

[3, 2, 5, 6, 9, 1, 44]
1
1
4
None
[9, 3]
[9, 10, 3]
[9, 3]
[9, 3]
[9]
[9, 8, 7]
[7, 8, 9]
[9, 8, 7]
[9, 8, 7]
[9, 8]
[9, 8]
[]
[9, 8]

### TUPLE- it is used to store sequence of immutable python objects

In [46]:
#tuple is created in () - round braces is used
#to create a empty tuple 
#tuple allows duplicate 
t=tuple()
print(type(t))
#it is immutable - cannot change it once its assigned

values=(23,22,41,49,44,23,21)
#positive indexing
print(values[1:5])
#negative indexing 
print(values[-1])
#slice operator
print(values[1::2])
print(values[-1::-1])

#getting a type
print(type(values))
print(len(values))    #no of elements
print(max(values))   #max value
print(min(values))   #min value

#indexing
t4=(22,43,12,56,98,66,55)
print(t4[0])
print(t4[2::2])

#repeat
print(t4*2)
print(t4*3)

#concantenation
t1=(22,33,44)
t2=(33,55,32,54)
print(t1+t2)

#retrive element one by one
for i in t2:
    print(i)
    
#membership operators - in and not in
print(22 in t1)
print(11 in t1)
print(55 not in t2)
print(11  not in t2)

<class 'tuple'>
(22, 41, 49, 44)
21
(22, 49, 23)
(21, 23, 44, 49, 41, 22, 23)
<class 'tuple'>
7
49
21
22
(12, 98, 55)
(22, 43, 12, 56, 98, 66, 55, 22, 43, 12, 56, 98, 66, 55)
(22, 43, 12, 56, 98, 66, 55, 22, 43, 12, 56, 98, 66, 55, 22, 43, 12, 56, 98, 66, 55)
(22, 33, 44, 33, 55, 32, 54)
33
55
32
54
True
False
False
True

### SET-It is an unordered  and unindexed collection of objects ,which does not allows duplicates

In [47]:
# functions in set
# to create a set={} 
#it does not allow duplicates
s1={22,33,1,2,3,22}
print(s1)
#by use of list constructor
l1=[3,2,4,5,6]
s2=set(l1)
print(s2)
#length of set
print(len(s1))
#min/max value in set
print(max(s1))
print(min(s1))

#methods in set
s1={1,2,3,4,5}
print(s1)
#to add a element is last position
s1.add(9)
print(s1)
#to add a multiple values in set
s1.update([66,33,44,22])
print(s1)

#to remove an element
s1.discard(3)   #if we tried to remove a element which is absent in set it does not shows error
print(s1)
s1.remove(9)    #if we tried to remove a element which is absent in set it will show error 
print(s1)
#to clear a set
s2={2,3,4,5}
print(s2.clear())

#intersection and union
s3={3,4,5,67,8}
s4={5,6,11,8,9}
print(s3)
print(s4)
print(s3.intersection(s4))     #shows common elements in set
print(s3.union(s4))            #shows complete set without a duplicate

{33, 2, 3, 1, 22}
{2, 3, 4, 5, 6}
5
33
1
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 9}
{1, 2, 3, 4, 5, 66, 33, 9, 44, 22}
{1, 2, 4, 5, 66, 33, 9, 44, 22}
{1, 2, 4, 5, 66, 33, 44, 22}
None
{67, 3, 4, 5, 8}
{5, 6, 8, 9, 11}
{8, 5}
{67, 3, 4, 5, 6, 8, 9, 11}

### DICTIONARY - It is collection of a key value pairs in that duplicates are not allowed.It is mutable

In [48]:
#to create a dictionary - {} are used with : between key value pairs
d1={"name":"Pratik",
   "Age":21,
   "city":"Pune"}
print(d1)
print(type(d1))
d={}   #blank dictionary

#access a values - need to pass keys to get values
print(d1["name"])
print(d1["Age"])  
#update- we can update as it is a mutable
d1["name"]="Kulkarni"
print(d1)
#delete - can delete entire dictinary by del
d={"one":1,"two":2}
del d

#traverse
for key in d1:
    print(key,"==>",d1[key])

    
#methods in dictionary
d2=d1.copy()
print(d2)    #copies dictionary 1
print(d2.items())  #returns a tuple with key value pairs
print(d2.keys())  #returns a keys
print(d2.values())  #returns a values
print(d1.get('name'))  #to get a particular value
d2.clear()
print(d2)             #clears a whole dictionary

{'name': 'Pratik', 'Age': 21, 'city': 'Pune'}
<class 'dict'>
Pratik
21
{'name': 'Kulkarni', 'Age': 21, 'city': 'Pune'}
name ==> Kulkarni
Age ==> 21
city ==> Pune
{'name': 'Kulkarni', 'Age': 21, 'city': 'Pune'}
dict_items([('name', 'Kulkarni'), ('Age', 21), ('city', 'Pune')])
dict_keys(['name', 'Age', 'city'])
dict_values(['Kulkarni', 21, 'Pune'])
Kulkarni
{}

### TYPE CASTING  - conversion of one type of data into another type is called as Type - casting

In [49]:
#converting string to a integer
V=(int(input("Enter your no ")))
print(V)
print(type(V))
print(V+5)

#converting any data type to float
f1=float(V)
print(f1)
print(f1+6)

#conversion data type to list
v=input("Enter your name:")
print(v)
l1=list(v)
print(l1)
print(type(l1))

#conversion to tuple
t1=tuple(v)
print(t1)
print(type(t1))

#converion to set
s1=set(v)
print(s1)
print(type(s1))

Enter your no 44
44
<class 'int'>
49
44.0
50.0
Enter your name:KK
KK
['K', 'K']
<class 'list'>
('K', 'K')
<class 'tuple'>
{'K'}
<class 'set'>

### Conditional  statements- if,if-else,if elif else

In [55]:
n=int(input("Enter a number:"))
print("Your number is ",n)
#even 
if (n%2==0):
    print("Yes a even number")
    print("inside if block")

Enter a number:44
Your number is  44
Yes a even number
inside if block

In [56]:
#if else -even or odd
n=int(input("Enter a number :"))
print("You entered no ",n)
#even
if (n%2==0):
    print("its a even no")
    print("inside if block")
else:
    print("its a odd no")
    print("inside else block")

Enter a number :21
You entered no  21
its a odd no
inside else block

In [57]:
#to check divisible by 2 or 3
n=int(input("Enter a no :"))
print("Your no is ",n)
if(n%2==0):
    print("Yes divisible by 2")
elif(n%3==0):
    print("Yes divisible by 3")
else:
    print("Nither 2 nor 3")

Enter a no :21
Your no is  21
Yes divisible by 3

In [58]:
#if elif else
n=int(input("Enter a number:"))
print("Your nos. is ",n)
#positive
if(n>0):
    print("Positive number")
elif(n<0):
    print("Negative number")
else:
    print("Its a zero")
    
#+ve=true
#-ve=True
#0=false

if 90:
    print("y")
    
if -9:
    print("u")
if 0:
    print("p")
#so here we can see condition for 0  is not printed

Enter a number:-44
Your nos. is  -44
Negative number
y
u

### LOOPS- for->to print any value multiple time we use loops

In [76]:
#for loop example -->range(start,stop,step)
#print a no.s from 1 to 15
for i in range(1,16,1):
    print(i)
    
#reverse print
for i in range(5,0,-1):
    print(i)
    
#list-traverse
l=[33,22,44,54,69]
for n in l:
    print(n)
#getting a list sum
sum=0
for n in l:
    sum=sum+n
print("sum is",sum)

#tuple reverse
t=(33,22,4590,567)
for i in t:
    print(i)
s=0
for n in t:
    sum=sum+n
print("sum is",sum)

#use of append
d=["name","Pratik",
   "age",21,
    "surname","Kulkarni"]
d2=[]
for i in d:
    d2.append(d)
print(d2)

#getting a sum of range
n=int(input("Enter a no"))
sum=0
for i in range(1,n+1,1):
    sum=sum+i
print("sum is",sum)

#program to get a list of students
n=int(input("Enter a no of students: "))
stud=[]
for i in range(n):
    name=input("Enter a name:")
    marks=int(input("Enter a marks:"))
    stud.append([name,marks])
    print(stud)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
5
4
3
2
1
33
22
44
54
69
sum is 222
33
22
4590
567
sum is 5434
[['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni'], ['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni'], ['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni'], ['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni'], ['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni'], ['name', 'Pratik', 'age', 21, 'surname', 'Kulkarni']]
Enter a no3
sum is 6
Enter a no of students: 1
Enter a name:Pratik
Enter a marks:45
[['Pratik', 45]]

### While loop - It is used to execute block of statements repetedly untill given condition is satisfied.

In [85]:
i=1
while i<=5:
    print(i)
    i=i+1
    
#no of digits in no
n=int(input("Enter a no: "))
dcount=0
while n>0:
    n=n//10
    dcount=dcount+1
    print('No of digits is',dcount)

c=0
while (c<3):
    c=c+1
    print("Hello Network")
    
a=[1,2,3,4]
while a:
    print(a.pop())

1
2
3
4
5
Enter a no: 332
No of digits is 1
No of digits is 2
No of digits is 3
Hello Network
Hello Network
Hello Network
4
3
2
1

### FOR - Else and While -else

In [87]:
#to get nos. in range of 10
#here if for loop is completed then else will be executed
for i in range(1,10):
    print(i)
else:
    print("End")
    
#if there is break in loop then else will not execute
for i in range(1,10):
    print(i)
    if i==5:
        break
else:
    print("End")
    
#while - else
i=1
while i <=5:
    print(i)
    i=i+1
else:
    print("end")
    
#while-break-else
i=1
while i<=0:
    print(i)
    i=i+1
    break
else:
    print("end")

1
2
3
4
5
6
7
8
9
End
1
2
3
4
5
1
2
3
4
5
end
end

### Important statements-break,continue,pass

In [107]:
#use of break - terminates program at particular condition
for i in range(1,11):
    if i==5:
        break
    print(i)

#continue- it will stop at given condition and will start program from begining
for i in range(1,6):
    print("Value of i",i)
    if (i==4):
        continue
    print("Yes")
    print("It worked")
    
#pass - it does nothing/it only used when we dont want write anything in program
if True:
    pass
else:
    print("Hi")

1
2
3
4
Value of i 1
Yes
It worked
Value of i 2
Yes
It worked
Value of i 3
Yes
It worked
Value of i 4
Value of i 5
Yes
It worked

### Function - Idea behind function is to reduce repeated tasks,to put together repeated tasks.Most important feature of Function is a code reusability.It is use to divide larger programs to smaller ones.It is a set of instruction to do a task

In [108]:
#there are three types of functions-predefined,userdefined and anonymous function
#predefined-some functions are already known to python.They are predefined functions.ex.type(),print()etc
#user defined-in order to do some task we(user) can create a task .This are known as user defined functions
#to create a function- def is used along with parenethesis in that we can pass arguments

#program to understand a function
def fun1():
    print("This is first line")
    print("This is 2nd line")
    
print("End of Pgm")
fun1()                       #it is very important to call .without call function will not be executed

#getting sum of two nos.
def sum(x,y):
    c=x+y
    print("Sum is ",c)
sum(3,7)
sum(88,32)

#same program using return 
def sum(x,y):
    c=x+y
    return c
s=(sum(9,9))
print("sum is ",s)
s1=(sum(33,20))
print("sum is",s1)

End of Pgm
This is first line
This is 2nd line
Sum is  10
Sum is  120
sum is  18
sum is 53

### Different types of arguments in Function-required argument,keyword argument,default argument,variable length argument

In [111]:
#required  argument
def sayHello(name):
    print("HELLO",name)
sayHello("Pratik")  #here it is must to give argument while calling ,if not done willl show error

#keyword argument:
def product(a,b):
    print("value of a",a)
    print("value of b",b)
    print("prod",(a*b))
product(33,44)
product(b=33,a=44)    #passing a arguemnt in this way is keyword argument

#default argument
def sayHello(name="Pratik"):
    print("HELLO",name)
s=sayHello()   #if we forget to pass a argument here then it will consider default argument
print(s)
s1=sayHello("ML")
print(s1)

#variable length argument
def sum(*vals):                 #* is important to pass
    s=0
    for i in vals:
        s=s+i
    print("Sum is",s)
e=sum(9,403,32)
print(e)

HELLO Pratik
value of a 33
value of b 44
prod 1452
value of a 44
value of b 33
prod 1452
HELLO Pratik
None
HELLO ML
None
Sum is 444
None

### Examples of function

In [3]:
#even no
def isEven(n):
    if n%2==0:
        return True
    else:
        return False
isEven(21)

#input of user
n=int(input("Enter a no:"))
if isEven(n):
    print("Yes")
else:
    print("No")
    
#even in 1 to 101
for i in range(1,101):
    if isEven(i):
        print(i,end=" ")
    
#odd no
def isOdd(n):
    if n%2==1:
        return True
    else:
        return False
isOdd(22)

#input from user
n=int(input("Enter a no:"))
if isOdd(n):
    print("Yes")
else:
    print("No")
    
#prime no
def isPrime(n):
    f=0
    for i in range(1,n+1):
        if n%i==0:
             f=f+1
    if f==2:
        return True
    else:
        return False
print(isPrime(9))

#prime in between 1 to 101
for i in range (1,101):
    if isPrime(i):
        print(i,end=" ")

Enter a no:22
Yes
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 Enter a no:27
Yes
False
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Lambda Function - It is anonymous function .It can take many arguments but only one expression

In [11]:
#syntax-lambda arg1,ar2....:expression
#get a square of noraml - normal function
def sq(x):
    return x*x
s=sq(54)
print(s)

#using lambda
sq=lambda x:x*x
print(sq(54))         #thus within shorter lines we found square

#getting multipilcation of two nos.
def fun1(fun2,x):
    ans=fun2(x)
    return ans
r=fun1(lambda x : x*99,3)
print(r)

#same with reduced lines
def fun1(fun2,x):
    return fun2(x)
r=fun1(lambda x:x*x,987657)
print(r)

2916
2916
297
975466349649

### Map-It is also anonymous function but it takes argument as function and iteables.

In [ ]:
#syntax for function -> map(function,iteables)
#iterables-objects which can traverse ex.list,tuple,string
#program to add 1 to each no in list
def fun1(x):
    return x+1
mylist=[2,6,9,53,21]
ob=map(fun1,mylist)
print(list(ob))        #it is must to convert it into list other wise will not give output

#with short lines of code 
print(list(map(lambda x:x+1,mylist)))

### Filter - It returns only boolean values(true or false)

In [ ]:
#syntax for filter - filter(function,iterables)
#to check whether even or not
mylist=[22,14,31,33,35,46]
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
ob=filter(isEven,mylist)
print(list(ob))

#with shorter lines 
ob=filter(lambda x:True if x%2==0 else False,mylist)
print(list(ob))

### Reduce-It is imported from functools library.It takes function and argument

In [ ]:
import functools
#write program to to get sum of list
def sum(x,y):
    return x+y
mylist=[21,34,51,23]
ans=functools.reduce(sum,mylist)
#55,106,129
print(ans)

#to get min no in list
mylist=[22,12,278,8390]
print(mylist)
min=functools.reduce(lambda x,y:x if x<y else y,mylist)
print(min)

#max no
max=functools.reduce(lambda x,y:x if x>y else y,mylist)
print(max)